.formulario_title{
    width: 75%;
    margin: auto;
    padding-top: 50px;
}

.formulario{
    display: flex;
    width: 75%;
    margin: auto;
}

.cart_buttons{
    display: flex;
    flex-direction: column;
}


.cart_buttons_cont{
    margin: 10px;
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}