.container_select{
    display: flex;
    width: 100%;
    color: black;
    margin: auto;
    /*background-color: blue; */
}

.container_select_box{
    margin: auto;
    font-size: xx-large;
    font-family: 'Cursive';
}


.container_select_form{
    display: flex;
    width: 350px;
}

