.container_carrito{
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}


.container_carrito_title{
    width: 75%;
    margin: auto;
    padding-top: 50px;
    font-size: 20px;
}

.cart_buttons{
    display: flex;
    flex-direction: column;
}


.cart_buttons_cont{
    margin: 10px;
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}